.input {
  display: block;
}
.input span {
  position: absolute;
  padding: 5px;
  margin-left: 3px;
  color: #999;
  z-index: 1;
  cursor: text;
  pointer-events: none;
}
.input input, .input textarea, .input select {
  z-index: 0;
  padding: 6px;
  margin: 0;
  font: inherit;
}
/* Hack to remove Safari's extra padding. Remove if you don't care about pixel-perfection. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .input input, .input textarea, .input select { padding: 4px; }
}
