body {
  font: 14px/24px 'lato', sans-serif;
  background: #fff; color: #333;
  margin: 2em 20%;
}
h1 {
  font: italic 48px/48px 'playfair display', serif;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 24px;
  margin-top: 2em;
}
.input {
  margin-bottom: 12px;
}
pre {
  font: 12px/24px 'source code pro', monospace;
}
.code {
  min-height: 100px;
}
.loading {
  background: white url(loader.gif) no-repeat center center;
}
a {
  text-decoration: none;
  color: #f33;
}

/* borders */
input, textarea, select {
  border: 1px solid #ccc;
  border-radius: 3px;
  min-width: 300px;
  box-sizing: border-box;
}
